.app {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.screen_container {
    order: 2;
    height: 97%;
}

.navbar {
    order: 1;
    height: 3%;
    min-height: 0px;
    margin: unset;
}

.navbar-header, .navbar-nav, .navbar-brand, a.navbar-brand, .nav>li>a {
    padding-top: unset;
    padding-bottom: unset;
    min-height: 0px;
    height: 100%;
}

